//META{"name":"Larger_Avatars","description":"Makes all avatars larger <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a></b></span>","author":"Zerthox","version":"1.0"}*//{}

.chat .avatar-large {
     width: 65px;
     height: 65px;
     background-size: cover !important;
     border-radius: 50%;
}
