//META{"name":"Status_Circles","description":"Changes status dot to a circle","author":"Zerthox","version":"1.3"}*//{}

.channel-members .avatar-small .status,
.private-channels .avatar-small .status {
    width: 30px;
    height: 30px;
    background: transparent !important;
    border-radius: 50%;
    top: -2px;
    left: -2px;
    box-shadow: 0 0 1px #000 inset;
}
.channel-members .avatar-small .status-online,
.private-channels  .avatar-small .status-online {
    border: 2px solid #43b581 !important;
}
.channel-members .avatar-small .status-idle,
.private-channels  .avatar-small .status-idle {
    border: 2px solid #faa61a !important;
}
.channel-members .avatar-small .status-dnd,
.private-channels  .avatar-small .status-dnd {
    border: 2px solid #f04747 !important;
}
.channel-members .avatar-small .status-offline,
.private-channels  .avatar-small .status-offline {
    border: 2px solid #747f8d !important;
}
.channel-members .avatar-small .status-streaming,
.private-channels .avatar-small .status-streaming {
    border: 2px solid #643da7 !important;
}
.status.status-typing {
    width: 30px !important;
}
.status.status-typing .spinner .spinner-inner {
    left: 1px;
    top: 1px;
}
