//META{"name":"Too_many_servers","description":"Adds an extra collumn to guilds list <span style='position: absolute; bottom: 0; right: 14px;'>By <b><a href='https://github.com/Zerthox' target='_blank'>@Zerthox</a></b></span>","author":"Zerthox","version":"1.4"}*//{}

.guilds-wrapper,
.guilds-wrapper .scroller-wrap,
.guilds-wrapper .guilds {
	width: 155px;
}
.guilds-wrapper .guilds {
    overflow-y: scroll;
}
.guilds-wrapper .guilds::-webkit-scrollbar-thumb,
.guilds-wrapper .guilds::-webkit-scrollbar-track-piece {
    visibility: hidden;
}
.guilds-wrapper .guilds .guild:not(#bd-pub-li):not(:nth-of-type(1)):nth-of-type(even) {
	top: -58px;
    float: right;
    margin-right: 15px;
}
.guilds-wrapper .guilds .guild.unread:not(#bd-pubs-button):not(:nth-of-type(1)):nth-of-type(even):before,
.guilds-wrapper .guilds .guild.selected:not(#bd-pubs-button):not(:nth-of-type(1)):nth-of-type(even):before {
	left: initial;
	right: -21px;
}
.guilds-wrapper .guilds .guild:first-of-type,
.guilds-wrapper .guilds #bd-pub-li,
.guilds-wrapper .guilds .friends-online,
.guilds-wrapper .guild-separator {
	margin-left: calc(50% - 35px);
}
.guilds-wrapper .guilds :not(.dms) .guild:last-of-type:nth-of-type(odd) {
    top: -58px;
}
